.leftList {
    float:left;
    width: 49%;
    min-width: 300px;
    overflow: hidden;
    padding: 10px;
}

.rightList {
    float:left;
    width: 49%;
    min-width: 300px;
    overflow: hidden;
    padding: 20px;
}

.listrow {
    padding: 5px;
    border: 1px solid #6af;
    border-left-width: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.listrow:hover {
    border-color: #c2e6e8;
}

.listrow:active {
    background-color: lightblue;
}

.current-row {
    background-color: lightblue;
}

.listHeader {
    width: 50%;
    display: inline;
    padding: 15px;
}

.listItems {
    padding: 15px;
}

.righttheader {
    float:right;
}

h2.oneLine {
    display: inline;
}

.rightButtons {
    float: right;
    padding-right: 30px;
}

.btn-circle {
    display:inline-block;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    line-height: 39px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.btn-circle.btn-ok {
    background-color: green;
}

.btn-ok::before {
    content: "+";
}

.btn-circle.btn-error {
    background-color: red;
    line-height: 29px;
    vertical-align: 4px;
}

.btn-error::before {
    content: "-";
}

.btn-circle:hover {
    background: #262626;
}

.btn-circle:active {
    color: lightblue;
    border-color: lightblue;
}

.controlLabel {
    color: black;
}

.formField {
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    color: rgb(85, 85, 85);
    display: block;
    height: 34px;
    text-size-adjust: 100%;
    width: 336.422px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 168.203px 17px;
    transform-origin: 168.203px 17px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}


body {
    background-color: lightgray;
}
