.text {
    color: #333333;
    /*font-family: "Helvetica Neue", Arial, sans-serif;*/
    /*font-family: Tahoma, Geneva, sans-serif;*/
    /*background-color: #333333; goes well with gainsboro*/
    /*background-color: dimgray;*/
    font-family: 'Lato', sans-serif;
    background-color: #2D3E4E;
}

h1.title {
    color: #FDFDFD;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 45px;
}

h1.title img {
    height: 50px;
    /*margin-right: 5px;*/
}

.container {
    background-color: #FDFDFD;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 0px;
}

.leftList {
    width: 50%;
    min-width: 300px;
    overflow: hidden;
    padding: 10px;
    color: #333333;
    float:left;
    /*border: 1px solid #262626;*/
    border-radius: 10px;
    /*background-color: gainsboro;*/
    background-color: #FDFDFD;
}

.rightList {
    color: #333333;
    float:left;
    width: 50%;
    min-width: 300px;
    overflow: hidden;
    padding: 10px 15px 15px 15px;
    /*border: 1px solid #262626;*/
    border-radius: 10px;
    background-color: #FDFDFD;
}

.rightList h2 {
    margin-top: 0%;
}

.formInputField {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color cubic-bezier(.68,-0.55,.27,1.55) .15s, box-shadow ease-in-out .15s;
}

.current-inputField {
    border: 1px solid lightblue;
}

.listrow {
    /*padding: 5px;*/
    border-top: 1px solid #AFA4A4;
    /*border-left-width: 5px;*/
    /*border-radius: 3px;*/
    cursor: pointer;
    font-size: medium;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
}

.listrow img {
    height: 40px;
    margin-right: 5px;
}

.listrow:hover {
    border-color: #c2e6e8;
}

.listrow:active {
    background-color: lightblue;
}

.current-row {
    background-color: lightblue;
}

.listHeader {
    width: 50%;
    display: inline;
    padding: 15px;
}

.listItems {
    padding: 15px;
}

h2.oneLine {
    display: inline;
}

.rightButtons {
    float: right;
    padding-right: 20px;
}

.addButton {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/buttonaddhover.png') bottom;
    text-indent: -99999px;
    margin-right: 5px;
}
.addButton:hover {
    background-position: 0 0;
}

.deleteButton {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/buttondeletehover.png') bottom;
    text-indent: -99999px;
}
.deleteButton:hover {
    background-position: 0 0;
}

.btn-circle {
    display:inline-block;
    color: white;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid white;
    /*text-align: center;*/
    font-size: 55px;
    font-weight: bold;
    line-height: 39px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.btn-circle.btn-ok {
    background-color: green;
}

.btn-ok::before {
    content: "+";
    padding:  9px 0 0 5px;
}

.btn-circle.btn-error {
    background-color: red;
    line-height: 29px;
    vertical-align: 4px;
}

.btn-error::before {
    content: "-";
    padding:  9px 0 0 11px;
}

.btn-circle:hover {
    background: #262626;
}

.btn-circle:active {
    color: lightblue;
    border-color: lightblue;
}

.controlLabel {
    color: black;
}

.formField {
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    color: rgb(85, 85, 85);
    display: block;
    height: 34px;
    text-size-adjust: 100%;
    width: 336.422px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 168.203px 17px;
    transform-origin: 168.203px 17px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}


body {
    background-color: lightgray;
}
